<h1>Modifier un produits</h1>
<form *ngIf="updateProductForm" class="mt-5 col-md-6 m-auto" [formGroup]="updateProductForm"
    (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="barcode" class="form-label">barcode</label>
        <div class="input-group">
            <input placeholder="entrer le code barre " formControlName="barCode" type="text" class="form-control"
                aria-describedby="userHelp" id="barcode">
        </div>
    </div>
    <div class="mb-3">
        <label for="designation" class="form-label">designation</label>
        <div class="input-group">
            <input placeholder="entrer la designation de votre produit" formControlName="designation" type="text"
                class="form-control" aria-describedby="userHelp" id="designation">
        </div>
    </div>
    <div class="mb-3">
        <input type="checkbox" formControlName="lactose" id="lactose">Lactose
    </div>
    <div class="mb-3">
        <input type="checkbox" formControlName="gluten" id="gluten">Gluten
    </div>

    <div class="mb-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="categoryId">
            <option selected *ngFor="let category of listCategories" [value]="category.id">{{category.name}}</option>
        </select>
    </div>

    <div class="mb-3">
        <select class="form-select form-select-sm" aria-label=".form-select-sm example" formControlName="categoryId">
            <option selected *ngFor="let brand of listBrands" [value]="brand.id">{{brand.name}}</option>
        </select>
    </div>

    <div class="d-grid col-12 col-md-2 ms-auto">
        <button [disabled]="updateProductForm.invalid" type="submit"
            class="btn btn-primary text-nowrap">Modifier</button>
    </div>
</form>