<h1>Editer mes produits</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code barre</th>
            <th>Désignation</th>
            <th>Gluten</th>
            <th>Lactose</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProducts">
            <td>{{product.barCode}}</td>
            <td>{{ product.designation }}</td>
            <td>{{ product.gluten}}</td>
            <td>{{ product.lactose }}</td>
            <th></th>
            <td>
                <button class="btn btn-warning" routerLink="/update-product/{{product.id}}">Modifier</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onClickDeleteProduct(product.id)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>