<h1>Liste de mes produits</h1>

<table class="table">
    <thead>
        <tr>
            <th>Code barre</th>
            <th>Désignation</th>
            <th>Gluten</th>
            <th>Lactose</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let product of listProducts">
            <td>{{ product.barcode}}</td> <!--  code barre -->
            <td>{{ product.designation }}</td> <!--  Nom du produit -->
            <td>{{ product.gluten}}</td> <!--  true or false -->
            <td>{{ product.lactose }}</td> <!--  true or false -->
            <td>
                <button class="btn btn-warning" routerLink="/update-product/{{product.id}}">Modifier</button>
            </td>
            <td>
                <button class="btn btn-danger" (click)="onClickDeleteProduct(product.id)">Supprimer</button>
            </td>
        </tr>
    </tbody>
</table>