<h1>tableau des produits</h1>
<article class="pt-2 table-responsive-sm">
    <table class="table table-bordered table-hover">
        <caption>Liste des produits</caption>
        <thead>

            <tr>
                <th scope="col">Barcode</th>
                <th scope="col">Designation</th>
                <th scope="col">Lactose</th>
                <th scope="col">Gluten</th>
                <th scope="col">Lien photo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of listNameProducts"></tr>


            <th scope="row">1</th>
            <td class="">
                {{product.designation}
            <td></td>
            <td></td>
            <td></td>

            <tr>
                <th scope="row">2</th>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <th scope="row">3</th>
                <td colspan="2"></td>
                <td></td>
            </tr>
        </tbody>
    </table>
</article>