<h1>Creation produit</h1>
<form class="mt-5 col-md-6 m-auto" [formGroup]="newProductForm" (ngSubmit)="onSubmitForm()">
    <div class="mb-3">
        <label for="barcode" class="form-label">code barre</label>
        <div class="input-group">
            <input placeholder="entrer le code barre de votre produit" formControlName="barcode" type="text"
                class="form-control" aria-describedby="userHelp" id="barcode">
        </div>
    </div>
    <div class="mb-3">
        <label for="designation" class="form-label">Designation</label>
        <div class="input-group">
            <input placeholder="entrer la désignation de votre produit" formControlName="designation" type="text"
                class="form-control" aria-describedby="userHelp" id="designation">
        </div>
    </div>
    <div class="mb-3">
        <input type="checkbox" formControlName="lactose" id="lactose">Lactose
    </div>
    <div class="mb-3">
        <input type="checkbox" formControlName="gluten" id="gluten">Gluten
    </div>

    <div class="d-grid col-12 col-md-2 ms-auto">
        <button [disabled]="newProductForm.invalid" type="submit" class="btn btn-primary text-nowrap">Creation</button>
    </div>
</form>